{% include 'header.html' %}
<style>
table{
	text-align:center;
}

table th{
	background:#eaeaea;
	text-align:center;
	color:#666666;
}

.contetmartop{
	margin-top:22px;
}
</style>
{% include 'sidbar.html' %}
<!--主体内容 str-->
<div id="content">
<div id="sidebar_bj"></div>
	<div id="content-header">
		<h1></h1>
	</div>

	<div id="breadcrumb">
		<a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>测试项目管理 > </a>
		<a href="{:U('Project/list_test_project')}" class="current">测试项目列表</a>
	</div>

	<!--正文 str-->
	<div class="container-fluid">

		<div class="col-lg-12">
						<table class="table table-bordered table-hover contetmartop" >
							<thead>
							<tr>
								<th class="">ID</th>
								<th>项目名称</th>								
								<th>集成模式</th>
								<th>项目简述</th>
								<th>操作</th>
							</tr>
							</thead>
							<tbody>
							<volist name='data' id='v'>
							
							<tr>
								<td>{$v.id}</td>
								<td>{$v.project_name}</td>
								<td>{$v.integ_model}</td>								
								<td>{$v.descript}</td>								
								<td>
									<a href="{:U('Project/show_test_project?id=')}{$v.id}"><button class="btn btn-info btn-sm">详细</button></a>
									<button onclick="del('{$v.id}');" class="btn btn-danger btn-sm">删除</button>
								</td>
							</tr>
							
							</volist>

							</tbody>
						</table>

		
		</div>

		<!--home 内容 end-->
<div class="manu">{$page}</div>

                    <div class="row-fluid" style="margin-top:30px;">
                        <div id="footer" class="col-lg-12" style="text-align:center">
                            2017 &copy; Hybroad Admin.  <a href="http://www.hybroad.com/">Hybraod Vision</a>
                        </div>
                    </div>
			</div>
			<!--正文 end-->

		</div>
		<!--主体内容 end-->
<script type="text/javascript">
	function del(id){
		
		if(confirm("确认删除吗？")){
			location.href="{:U('delete_test_project?id=')}"+id;
		}else{
			location.href="";
		}
	}
</script>
{% include 'footer.html' %}